<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406209354869-dckorgtc7cfm1errkq636kat9jodu8fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406209354869-dckorgtc7cfm1errkq636kat9jodu8fl</string>
	<key>API_KEY</key>
	<string>AIzaSyD5wyJyuC_XNHP3CiDoPFvnXSBlUvjaibs</string>
	<key>GCM_SENDER_ID</key>
	<string>406209354869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.CapstoneFinal</string>
	<key>PROJECT_ID</key>
	<string>capstonefinal-8d16e</string>
	<key>STORAGE_BUCKET</key>
	<string>capstonefinal-8d16e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406209354869:ios:14e494c04023153708ec3c</string>
	<key>DATABASE_URL</key>
	<string>https://capstonefinal-8d16e.firebaseio.com</string>
</dict>
</plist>